## PREPARATION DE LA DATA

In [ ]:
# Import des librairies.
import pandas as pd
import seaborn as sns 
import pymysql
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [ ]:
# Supression des Warnings.
import warnings
warnings.filterwarnings('ignore')

#### Fonction permettent d'obtenir une liste de tous les DataFrames.

In [2]:
def loading_data(number_file):
    liste_data = []
    for i in number_file:
        data = pd.read_csv(f"data/2016_{i}.csv", error_bad_lines=False)
        liste_data.append(data)
    print("Les 12 DataFrames ont été chargés avec succès")
    return liste_data

#### Fonction permettent d'envoyer les 12 DataFrames sur SQL.

In [ ]:
def send_df_to_sql(number_file, conn):    
    for i in number_file:         
        table_name = f'2016_{i}'
        df=pd.read_csv(f"data/{table_name}.csv", error_bad_lines=False)
        engine = create_engine('mysql+pymysql://root:@localhost/avion')
        inspector = inspect(engine)
        if table_name in inspector.get_table_names():
            print(f"Table {table_name} déja existante...")
        else:
            df.to_sql(name=table_name, con=engine, if_exists='fail', index=False)
    print("Toutes les tables ont été envoyés avec succès dans la base de données")

#### Fonction permettent de récupérer les 12 tables présentes sur SQL.

In [1]:
def get_tables_SQL(conn, number_file):
    liste_tables = []
    for i in number_file:
        table=pd.read_sql_query(f"SELECT * FROM 2016_{i}", conn)
        liste_tables.append(table)
    df_concat=pd.concat([i for i in liste_tables], axis=0)
    print('Concaténation des 12 tables réussis')
    return df_concat